<template>
  <div class="home">
    <input v-model="level" class="level" type="number" min="1" max="12" />
    <input v-model="level_user" class="level" type="number" min="1" max="12" />
    <input v-model="baseFU" class="level" type="number" min="1" max="10000" />
    <div>
      <label style="margin-right: 10px;"><input type="checkbox" v-model="filters.isArea"> массовое</label>
      <label style="margin-right: 10px;"><input type="checkbox" v-model="filters.isDot"> дот</label>
      <label style="margin-right: 10px;"><input type="checkbox" v-model="filters.isRad"> дальний</label>
    </div>
    <p v-text="`total: ${skills_att.length}`" />
      <div v-for="(item, index) in skills_att" :key="item.id" class="item">
        <div class="wrap-info">
          <img :src="`https://pwskillbase.ru/${item.icon}`" />
          <div> <b v-text="item.name" /> <div v-text="item.require_weapons" class="require_weapons" /> <div v-text="`мин уроверь ${item.require_level}`" class="require_weapons" /> </div>
          <div class="text-desc" v-html="item.description" />
        </div>
        <div class="wrap-desc">
          <div class="desc" v-if="item.require_mp"> <span>Стоимость</span>  <b v-text="item.require_mp * 10" /> мп</div>
          <div class="desc" v-if="item.require_summon"> <span>Подготовка</span>  <b v-text="item.require_summon" /> сек </div>
          <div class="desc" v-if="item.require_cast"> <span>Выполенение</span>  <b v-text="item.require_cast" /> сек </div>
          <div class="desc" v-if="item.require_cooldown"> <span>Перезарядка</span>  <b v-text="item.require_cooldown" /> сек </div>
          <div class="desc" v-if="item.require_chi"> <span>Получение ци</span>  <b v-text="item.require_chi" /> </div>
          <div class="desc" v-if="item.require_chi2"> <span>Трата ци</span>  <b v-text="item.require_chi2" /> </div>
          <div class="desc" v-if="item.require_range"> <span>Дальность</span>  <b v-text="item.require_range" /> </div>
        </div>
        <div>
          <span v-text="item.summ.toString" /> =
          <span v-text="item.summ.result" /> урона
        </div>
        <input v-model="levels[index]" type="number" v-if="true" />
        <pre v-text="item" v-if="false" />
      </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  computed: {
    items () {
      return this.$store.state.skills
    },
    skills () {
      return this.items
        .filter(item => (item.class === '5') && (Number.parseInt(item.require_level) <= this.level_user))
        .map((item, index) => ({ ...item, description: this.getDesc(item, this.levels[index]), summ: this.parse(item.description, item) }))
    },
    skills_att () {
      return this.skills
        .filter(item => this.filters.isDot ? item.summ.isDot : !item.summ.isDot)
        .filter(item => this.filters.isRad ? item.summ.isRad : !item.summ.isRad)
        .filter(item => this.filters.isArea ? item.summ.isArea : !item.summ.isArea)
        .filter(item => item.summ.items.length)
    }
  },
  data: () => ({
    level: 1,
    levels: [],
    level_user: 59,
    baseFU: 2800,
    filters: {
      isDot: false,
      isRad: true,
      isArea: false
    }
  }),
  watch: {
    level () {
      this.setLevels()
    },
    items () {
      this.setLevels()
    }
  },
  methods: {
    setLevels () {
      this.levels.splice(0)
      for (let i = 0; i < this.skills.length; i++) {
        this.levels.push(this.level)
      }
    },
    parse (text, item) {
      let result = {
        toString: '',
        isDot: false,
        isArea: false,
        isRad: false,
        items: [],
        result: 0
      }

      if (item.require_range.toLowerCase() === 'большая') result.isRad = true

      let isHasBaseFU = false

      if (text.indexOf('базовый физический урон') !== -1) isHasBaseFU = true
      if (text.indexOf('базового физического урона') !== -1) isHasBaseFU = true
      if (text.indexOf('базовому физическому урону') !== -1) isHasBaseFU = true

      if (isHasBaseFU) {
        result.toString += 'Базовый Ф У '
        result.items.push(this.baseFU)
      }

      let append = text.substr(text.indexOf(`плюс`))

      if (append && append.length > 1) {
        append = append.split('.')[0]
        let effectProc = append.match(/\d+%/g)
        let effect = 0

        if (effectProc) {
          effectProc = effectProc.pop()
          result.items.push(this.baseFU * Number.parseInt(effectProc) / 100)
          result.toString += ` + ${effectProc} * базовый урон`
          effect = append.match(/\d+/g)[1]
        } else {
          effect = append.match(/\d+/)[0]
        }
        result.toString += ` + ${effect}`
        result.items.push(Number.parseInt(effect))
      }

      if (text.indexOf('все') !== -1) {
        result.isArea = true
      }

      let isHasDot = false
      let splitDot = ''

      if (!isHasDot && text.indexOf('в течени') !== -1) {
        isHasDot = true
        splitDot = 'в течени'
      }

      if (!isHasDot && text.indexOf(' за ') !== -1) {
        isHasDot = true
        splitDot = ' за '
      }

      try {
        if (isHasDot) {
          let dot = text.split(splitDot)
          result.isDot = true
          let time = dot[1].match(/\d+ сек/)[0]
          let effect = dot[1].match(/\d+[.]\d+/g)[0]

          result.toString += ` + ${effect} за ${time}`
          result.items.push(effect)
        }
      } catch (e) {
        result.isDot = false
      }

      for (let item of result.items) {
        result.result = Number.parseInt(result.result) + Number.parseInt(item)
      }
      return result
    },
    getDesc (item, level) {
      // console.log({item, level})
      return item.description
    }
  }
}
</script>

<style lang="scss" scoped>
  input {
    padding: 2px;
    margin: 5px 0px;
  }

  .level {
    width: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .item {
    margin-bottom: 20px;

    .wrap-info {
      display: inline-block;
      width: 50%;
    }

    .wrap-desc {
      width: 30%;
      display: inline-block;
      margin-left: 10%;
      .desc {
        span {
          width: 150px;
          display: inline-block;
        }
      }
    }

    .require_weapons {
      margin-left: 10px;
      font-size: 80%;
    }

    img {
      float: left;
      margin: 10px;
      margin-top: 0px;
      margin-left: 0px;
    }

    .text-desc {
      margin-bottom: 10px;
    }

  }
</style>
